/* styles.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

/* Estilo para el cuerpo */
body {
    background-color:  #c2c2c2;
    font-size: 14px;
    color: #000000; 
    line-height: 1.6; 
}

/* Estilo para el encabezado */
header {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    color: #000000;
    border-bottom: 1px solid #000000d5;
    box-shadow: 0 10px 4px #0328cc56;
    margin-bottom: 20px;
}

/* Estilo para el logo */
.logo img {
    max-width: 100%; /* Asegura que el logo no sobresalga de su contenedor */
    height: auto; /* Mantiene la proporción */
    margin-bottom: 10px;
}

/* Estilo para la navegación */
.navbar {
    padding: 1rem; /* Espaciado alrededor de la barra de navegación */
}

.nav-link {
    color: #2f44ff; /* Color de los enlaces */
    transition: color 0.3s; /* Animación suave al cambiar de color */
}

.nav-link:hover {
    color: #2f44ff; /* Color de los enlaces al pasar el ratón */
}

.nav-item.active .nav-link {
    font-weight: bold; /* Resalta el enlace activo */
    color: #343a40; /* Color para el enlace activo */
}

/* Diseño para dispositivos móviles */
@media (max-width: 768px) {
    .navbar {
        padding: 0.5rem; /* Reduce el espaciado en pantallas pequeñas */
    }
}

/* Estilo para el contenido principal */

/* Estilo para el contenido principal */
main {
    padding: 10px;
    background-color: #ffffff;
}
/* Estilo para el pie de página */
footer {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
    color: #000000;
    border-top: 1px solid #000000d5;
    box-shadow: 0 -10px 4px #0328cc56;
}